<!-- prettier-ignore -->
{% extends "layouts/layout.html" %}

{% block title %}{{ super() }} ~ Experimental moveBefore() Support{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="mt-8 w-full">
        <h1>Experimental moveBefore() Support</h1>
        <p>This page demonstrates the use of the experimental <a rel="noopener" target="_blank" href="https://github.com/whatwg/dom/issues/1255"><code>moveBefore()</code></a> DOM
      API available in <a rel="noopener" target="_blank" href="https://www.google.com/chrome/canary/">Chrome Canary</a>, which has been integrated into the <code>hx-preserve</code>
      attribute of htmx, if it is available.</p>
      
        <h2>Getting Chrome Canary &amp; Enabling <code>moveBefore()</code></h2>
        <p>For the demo to work properly you will need to install Chrome Canary and enable the API:</p>
        <ul class="list-disc list-inside">
            <li>Navigate to <a href="chrome://flags/#atomic-move">chrome://flags/#atomic-move</a></li>
            <li>Enable “Atomic DOM move”</li>
        </ul>

        <h2>Demo</h2>
        <div class="flex flex-col items-center">
            <iframe 
                hx-preserve="true" 
                id="berserk" 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/pOXMt5O4Ly4?si=EvSixPxT8g_us6um" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
            ></iframe>
            <div class="mt-2">
                <a hx-boost="true" href="{{ target }}">View Details &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
