<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Extensions for HTMX: https://htmx.org/extensions/ -->
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <!-- See: https://github.com/bigskysoftware/htmx-extensions/blob/main/src/class-tools/README.md -->
        <script src="https://unpkg.com/htmx-ext-class-tools@2.0.1/class-tools.js"></script>
        <!-- See: https://sweetalert2.github.io -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- See: https://hyperscript.org -->
        <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>

        <!-- local styles -->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />

        {% block head_extra %}{% endblock %}

        <title>{% block title %}htmx Examples{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>

    <body class="c content">
        {% block content %}{% endblock %}

        {% block footer %}
        <footer class="bg-white rounded-lg shadow dark:bg-gray-800 mt-8 mb-4">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
                <span
                    class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                    © 2025
                    <a href="mailto:warcayac@live.com">William Arcaya C.</a> All Rights Reserved.
                </span>
                <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                    {% block more_footer_links %}{% endblock %}
                    <li><a href="/" class="me-4 md:me-6">Home</a></li>
                </ul>
            </div>
        </footer>
        {% endblock %}
        {% block scripts_footer %}{% endblock %}
    </body>
</html>
