<!-- prettier-ignore -->
{% extends "layouts/layout.html" %}

{% block title %}{{ super() }} ~ Animations{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="mt-8 w-full">
        <ul class="list-disc ml-5">
            <li><a href={{target1}}>Color Throb</a></li>
            <li>Smooth Progress Bar <i>(see: <a href="{{target2}}">Progress Bar</a>)</i></li>
            <li><a href={{target3}}>Fade Out On Swap</a></li>
            <li><a href={{target4}}>Fade In On Addition</a></li>
            <li><a href={{target5}}>Request In Flight Animation</a></li>
            <li><a href={{target6}}>Using the htmx class-tools Extension</a></li>
            <li><a href={{target7}}>Using the View Transition API</a></li>
        </ul>
    </div>
</div>
{% endblock %}