<!-- prettier-ignore -->
{% extends "layouts/layout.html" %}

{% block title %}{{ super() }} ~ Using the View Transition API{% endblock %}

{% block content %}
<style>
    @keyframes fade-in {
        from { opacity: 0; }
    }

    @keyframes fade-out {
        to { opacity: 0; }
    }

    @keyframes slide-from-right {
        from { transform: translateX(90px); }
    }

    @keyframes slide-to-left {
        to { transform: translateX(-90px); }
    }

    .slide-it {
        view-transition-name: slide-it;
    }

    ::view-transition-old(slide-it) {
        animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }
    ::view-transition-new(slide-it) {
        animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
</style>

<div class="flex justify-center">
    <div class="mt-8 w-full">
        <div class="slide-it">
            {% include "pages/animations/partials/usingview_original.html" %}
        </div>
    </div>
</div>
{% endblock %}
