{% macro file_input(name="upload", file_exts="", linked_form="", preserve=false, required=false) %}
<input 
    type="file"
    id="{{name}}"
    name="{{name}}" 
    {% if file_exts %}accept="{{file_exts}}"{% endif %}
    {% if linked_form %}form="{{linked_form}}"{% endif %}
    class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-teal-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-teal-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
    {% if preserve %}hx-preserve{% endif %}
    {% if required %}required{% endif %}
/>
{% endmacro %}
