<!-- prettier-ignore -->
{% extends "layouts/layout.html" %}

{% block title %}{{ super() }} ~ Edit Row{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="mt-8 w-full">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody hx-target="closest tr" hx-swap="outerHTML">
                {% for user in users %}
                    {% include "pages/edit_row/partials/row.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
